@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

body{
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Diphylleia';
    min-height: 100vh;
    margin: 0;
}

@media (min-width: 650px) {  
    .App{
        width: 640px;
    }
}

@media (max-width: 650px) {   
    .App{
        width: 90vw;
    }
}

#root{
    background: #fff;
    box-shadow:  rgba(100,100,111,.2) 0px 7px 20px 0;
}

.App{
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

/* MyButton  */
.MyButton{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
    font-family: 'Diphylleia';
}
.MyButton_default{
    background: #ececec;
    color: black;
}
.MyButton_positive{
    background: #64c964;
    color: #fff;
}
.MyButton_negative{
    background: #fd565f;
    color: #fff;
}

/* MyHeader */
header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    >div{
        display: flex;
    }
    .head_text{
        width: 50%;
        font-size: 25px;
        justify-content: center;
    }
    .head_btn_left{
        width: 25%;
        justify-content: flex-start;
    }
    .head_btn_right{
        width: 25%;
        justify-content: flex-end;
    }
}
// DiaryList
.DiaryList {
    .menu_wrapper{
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .left-col{
            .ControlMenu{
                margin-right: 10px;
                border: none;
                border-radius: 5px;
                background:  #ececec;
                padding: 10px 20px;
                cursor: pointer;
                font-family:'Diphylleia' ;
                font-size: 17px;
            }
        }
        .right-col{
            flex-grow: 1;
            button{width: 100%;}
        }
    }
}

// DiaryItem
.DiaryItem{
    padding: 15px 0;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    .emotion_img_wrapper{
        cursor: pointer;
        min-width: 120px;
        height: 80px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        img{width: 50%;}
    }
    .emotion_img_wrapper_1{
        background-color: #64c964;
    }
    .emotion_img_wrapper_2{
        background-color: #9dd772;
    }
    .emotion_img_wrapper_3{
        background-color: #fdce17;
    }
    .emotion_img_wrapper_4{
        background-color: #fd8446;
    }
    .emotion_img_wrapper_5{
        background-color: #fd565f;
    }
    .info_wrapper{
        flex-grow: 1;
        margin-left: 20px;
        cursor: pointer;
        .diary_date{
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 25px;
        }
        .diary_content_preview{
            font-size: 18px;
        }
    }
    .btn_wrapper{
        min-width: 70px;
    }
}

// DiaryEditor
.DiaryEditor{
    section{
        margin-bottom: 40px;
        h4{
            font-size: 22px;
            font-weight: bold;
        }
        .input_box{
            .input_date{
                border: none;
                background: #ececec;
                padding: 10px 20px;
                cursor: pointer;
                font-family: 'Diphylleia';
            }
            textarea{
                font-family: 'Diphylleia';
                font-size: 20px;
                box-sizing: border-box;
                width: 100%;
                min-height: 200px;
                resize: vertical;
                border: none;
                background: #ececec;
                padding: 20px;
                border-radius: 5px;
            }
        }
        .emotion_list_wrapper{
            display: grid;
            grid-template-columns: repeat(5,auto);
            gap: 2%;
        }
        .control_box{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// EmotionItem
.EmotionItem{
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 50%;
        margin-bottom: 10px;
    }
}
.EmotionItem_off{
    background: #ececec;
}
.EmotionItem_on_1{
    background: #64c964;
    color: #fff;
}
.EmotionItem_on_2{
    background: #9dd772;
    color: #fff;
}
.EmotionItem_on_3{
    background: #fdce17;
    color: #fff;
}
.EmotionItem_on_4{
    background: #fd8446;
    color: #fff;
}
.EmotionItem_on_5{
    background: #fd565f;
    color: #fff;
}

// Diary
.DiaryPage{
    section{
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h4{
            font-size: 22px;
            font-weight: bold;
        }
        .diary_img_wrapper{
            background: #ececec;
            width: 250px;
            height: 250px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .emotion_descript{
                font-size: 25px;
                color: #fff;
            }
        }
        .diary_img_wrapper_1{
            background: #64c964;
        }
        .diary_img_wrapper_2{
            background: #9dd772;
        }
        .diary_img_wrapper_3{
            background: #fdce17;
        }
        .diary_img_wrapper_4{
            background: #fd8446;
        }
        .diary_img_wrapper_5{
            background: #fd565f;
        }
        .diary_content_wrapper{
            width: 100%;
            background: #ececec;
            border-radius: 5px;
            word-break: keep-all;  //줄바꿈할때 단어 쪼개지마라
            overflow-wrap: break-word;  //줄바꿈 강제
            p{
                padding: 20px;
                text-align: left;
                font-size: 20px;
                font-weight: 400;
                line-height: 2.5;
            }
        }
    }
}